* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
strong {
	font-weight: 500;
}

.top-bar-container {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.top-bar {
    width: 935px;
    height: 54px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .top-bar ion-icon {
        font-size: 24px;
    }
    .top-bar .logo {
        display: flex;
    }
        .top-bar .logo img {
            width: 103px;
            height: 29px;
        }
        .top-bar .logo .vertical-border {
            width: 1px;
            height: 22px;
            margin: 0 10px;
            background-color: #dbdbdb;
        }
    .top-bar input {
        width: 215px;
        height: 28px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 10px;

        color: #979797;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        background-color: #fafafa;
    }
        .top-bar input::placeholder {
            text-align: center;
        }
        .top-bar input:focus {
            outline: 1px solid #dbdbdb;
        }
        .top-bar input:focus::placeholder {
            color: transparent;
        }
    .top-bar .icons ion-icon {
        margin-right: 20px;
    }
        .top-bar .icons ion-icon:last-of-type {
            margin-right: 0;
        }


main {
    width: 935px;
    height: 1200px;
    margin: 0 auto;

    background-color: red;
}