* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #262626;
}
strong {
	font-weight: 500;
}

.top-bar-container {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.top-bar {
    width: 935px;
    height: 54px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .top-bar ion-icon {
        font-size: 24px;
    }
    .top-bar .logo {
        display: flex;
    }
        .top-bar .logo img {
            width: 103px;
            height: 29px;
        }
        .top-bar .logo .vertical-border {
            width: 1px;
            height: 22px;
            margin: 0 10px;
            background-color: #dbdbdb;
        }
    .top-bar input {
        width: 215px;
        height: 28px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 10px;

        color: #979797;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        background-color: #fafafa;
    }
        .top-bar input::placeholder {
            text-align: center;
        }
        .top-bar input:focus {
            outline: 1px solid #dbdbdb;
        }
        .top-bar input:focus::placeholder {
            color: transparent;
        }
    .top-bar .icons ion-icon {
        margin-right: 20px;
    }
        .top-bar .icons ion-icon:last-of-type {
            margin-right: 0;
        }


main {
    width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.stories {
    width: 614px;
    height: 118px;
    margin-top: 88px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;

    display: flex;
    align-items: center;
    overflow: scroll;
    position: relative;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.stories::-webkit-scrollbar {
    display: none;
}
    .stories .arrow {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);

        position: absolute;
        top: 42px;
        right: 5px;
    }
        .stories .arrow ion-icon {
            font-size: 26px;
            color: #fff;

            position: absolute;
            top: -2.5px;
            right: -2.5px;
        }
    .stories .story {
        width: 66px;
        margin-right: 20px;
        text-align: center;
    }
    .stories .story:first-child {
        margin-left: 20px;
    }
        .stories .story div {
            width: 66px;
            height: 66px;
            margin-bottom: 9px;
            display: flex;

            background: url("../media/images/stories_background.jpg");
            background-size: cover;
            border-radius: 50%;
        }
            .stories .story div img {
                width: 56px;
                height: 56px;
                margin: auto;
                border-radius: 50%;
            }
        .stories .story p {
            font-size: 12px;
            font-weight: 400;

            width: 100%;
            height: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


.timeline {
    width: 614px;
    margin-top: 24px;
}
    .timeline .post {
        margin-bottom: 60px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
    }
    .timeline .post ion-icon {
        font-size: 24px;
    }
        .timeline .post .post-user {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .timeline .post .post-user .username {
                display: flex;
                align-items: center;
            }
            .timeline .post .post-user .username img {
                width: 32px;
                height: 32px;
                margin: 0 17px;
            }
            .timeline .post .post-user .username p {
                font-size: 14px;
                font-weight: 500;
            }
            .timeline .post .post-user .options {
                margin-right: 17px;
            }
    .timeline .post > img {
        width: 612px;
    }
    .timeline .post .post-bottom {
        height: 79px;
        margin: 0 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
        .timeline .post .icons {
            display: flex;
            justify-content: space-between;
        }
        .timeline .post .likes {
            color: #000;
            display: flex;
        }
            .timeline .post .likes img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 5px;
            }


.sidebar {
    width: 293px;
    margin-top: 88px;
}
    .sidebar .user {
        height: 100px;
        display: flex;
        align-items: center;
    }
        .sidebar .user .profile {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            margin-right: 17px;
        }
        .sidebar .user .username {
            color: #262626;
        }
            .sidebar .user .username p:first-of-type {
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
            }
            .sidebar .user .username p:last-of-type {
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
            }
    .sidebar .suggestions {
        margin-bottom: 33px;
    }
        .sidebar .suggestions .suggestions-header {
            height: 18px;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 17px;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .sidebar .suggestions .suggestions-header p:first-of-type {
                color: #8e8e8e;
            }
        .sidebar .suggestions .suggestion {
            margin-bottom: 17px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .sidebar .suggestions .suggestion .info {
                display: flex;
            }
                .sidebar .suggestions .suggestion .info img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin-right: 11px;
                }
                .sidebar .suggestions .suggestion .info div p:first-child {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                    margin-bottom: 5px;
                }
                .sidebar .suggestions .suggestion .info div p:last-child {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                    color: #8e8e8e;
                }
            .sidebar .suggestions .suggestion .follow {
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;
                color: #139ef2;
            }
    .sidebar .about-instagram {
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        color: #c7c7c7;
    }
        .sidebar .about-instagram p {
            margin-bottom: 18px;
        }