@media (max-width: 935px) {
    .top-bar {
        width: 100%;
    }

    main {
        width: 100%;
        justify-content: center;
    }
    
    .sidebar {
        display: none;
    }
}

@media (max-width: 614px) {
    main .container {
        width: 100%;
    }

    .top-bar {
        width: auto;
        margin: 0 21px;
    }
        .top-bar .logo {
            width: 100%;
            justify-content: space-between;
        }
            .top-bar .logo .mobile-only {
                display: block;
            }
            .top-bar .logo .vertical-border {
                display: none;
            }
        .top-bar input {
            display: none;
        }
        .top-bar .icons {
            display: none;
        }

    .stories {
        width: 100%;
        margin-top: 54px;
        border: none;
        border-radius: 0;
    }
        .stories .arrow {
            display: none;
        }

    .timeline {
        width: 100%;
        margin-top: 0;
    }
        .timeline .post {
            width: 100%;
            border-width: 1px 0;
            border-radius: 0;
        }
            .timeline .post:last-child {
                margin-bottom: 54px;
            }
            .timeline .post > img {
                width: 100%;
            }

    .bottom-bar-container {
        width: 100%;
        border-top: 1px solid #dbdbdb;
        background-color: #fff;

        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
    .bottom-bar {
        height: 54px;
        margin: 0 21px;
        font-size: 24px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}